<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Flask</title>
</head>
<body>
    
    <nav>
        <ul>
            <!--href using Jinja templating language
            The curly braces indicate to Flaask that there is code within it
            the url_for() function looks up the relevant view
            Double curly braces contain an expression which is outputting to
            either the screen, or in this case the href-->
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('careers') }}">Careers</a></li>
        </ul>
    </nav>
    
    <!--This is a block in which we can inject content into in our HTML files
    content is what we've called this, it can be called anything.
    If we have multiple blocks, we give them different names
    The curly bracket and precentage are for statements that control flow of template
    -->
    {% block content %}
    {% endblock %}
    
</body>
</html>